[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/vendor/start/nvim"]
	path = pack/vendor/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "pack/vendor/start/nvim-treesitter"]
	path = pack/vendor/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/vendor/start/kanagawa.nvim"]
	path = pack/vendor/start/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "pack/vendor/start/mason.nvim"]
	path = pack/vendor/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/vendor/start/nvim-lspconfig"]
	path = pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/vendor/start/mason-lspconfig.nvim"]
	path = pack/vendor/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
